.alert {
    font-size: 2rem;
}


.contentHeader {
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 400;
    color: white;
    padding: 32px 0 8px;
    font-weight: 400;
}

.containerRecPage {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.recPage {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 25%;
}

.btn-success {
    margin-left: 10px;
}

.container {
    text-align: center;
    font-weight: 200;
    margin-top: -4rem;
}

.container h1 {
    font-size: 4rem;
    margin: 3rem 0;
}

.container h2 {
    font-size: 40px;
    padding: 20px;
}

.form-control,
.loginBtn {
    width: 100%;
}

.formContainer {
    width: 370px;
    height: 400px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 4rem;
}

form {
    padding: 2rem;
}

.loginBtn {
    background-color: #21bf73;
    border: none;
    margin-bottom: 1.5rem;
}

.loginBtn:hover {
    background-color: #21bf73;
}

.loginBtn:active {
    background-color: #21bf73;
}

.loginBtn:active {
    background-color: #21bf73;
}

input::placeholder,
.loginBtn {
    font-size: 1.2rem;
}

.help-links {
    display: flex;
    font-size: 1.1rem;
    text-align: left;
}

.flex-column {
    margin-top: 1.5rem;
}

.header {
    margin: 20px 0 0 50px;
}


@media only screen and (max-width: 768px) {
    .formContainer {
        width: 300px;
    }
}

.register_container{
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 5px;
    text-align: center;
}

.register__container h1{
    font-size: 4rem;
}

.alig{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register-submit-btn{
    margin-top: 18px;
}

.formRegisterContainer {
    width: 370px;
    height: 450px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 4rem;
}

.formRecoveryContainer{
    width: 570px;
    height: 300px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 9rem;
}