.alert {
    font-size: 2rem;
}


.contentHeader {
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 400;
    color: white;
    padding: 32px 0 8px;
    font-weight: 400;
}

.registerConf {
    margin-top: 1rem;
}

.btn-success {
    margin-left: 10px;
}

.container {
    text-align: center;
    font-weight: 200;
    margin-top: -4rem;
}

.registerConf {
    margin-top: 1rem;
}

.container h1 {
    font-size: 4rem;
    margin: 3rem 0;
}

.container h2 {
    font-size: 40px;
    padding: 20px;
}

.form-control,
.loginBtn {
    width: 100%;
}

.formContainer {
    width: 370px;
    height: 400px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 4rem;
}

form {
    padding: 2rem;
}

.loginBtn {
    background-color: #21bf73;
    border: none;
    margin-bottom: 1.5rem;
}

.loginBtn:hover {
    background-color: #21bf73;
}

.loginBtn:active {
    background-color: #21bf73;
}

.loginBtn:active {
    background-color: #21bf73;
}

input::placeholder,
.loginBtn {
    font-size: 1.2rem;
}

.help-links {
    display: flex;
    font-size: 1.1rem;
    text-align: left;
}

.flex-column {
    margin-top: 1.5rem;
}

.header {
    margin: 20px 0 0 50px;
}


@media only screen and (max-width: 768px) {
    .formContainer {
        width: 300px;
    }
}

.register_container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 5px;
    text-align: center;
}

.register__container h1 {
    font-size: 4rem;
}

.alig {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register-submit-btn {
    margin-top: 18px;
}

.formRegisterContainer {
    width: 370px;
    height: 450px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 4rem;
}

.containerRecPage h2 {
    font-size: 60px;
    line-height: 1.25;
}

.formRecoveryPageContainer {
    width: 370px;
    height: 350px;
    border-radius: 5px;
    background: white;
    color: #393e46;
    margin-top: 4rem;
}


.containerRecPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#recPage {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.rec_page_input {
    width: 15rem;
    border-radius: 4px;
}

.recoveryForm {
    display: flex;
}

.recoveryForm>button {
    height: 2.4rem;
}

.btn-primary:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
    color: black
}